*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body
{
    background: #2F4F4F;
    color: #FFFFFF;
}

#Header
{
    width: 100%;
    height: 100vh;
    background-image:url(Background2.png);
    background-size: contain;
    background-position: 310px 40px;
    background-repeat: no-repeat;
}
.Container
{
    padding: 20px 30px;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Logo
{
    width: 140px;
    padding-top: 10px;
    padding-left: 10px;
}
nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a
{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after
{
    content: '';
    width: 0%;
    height: 3px;
    background: #FF8C00;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after
{
    width: 100%;
}
.Header-Text
{
    margin-top: 230px;
    font-size: 30px;
}
.Header-Text h1
{
    font-size: 30px;
    margin-top: 20px;
}
.Header-Text h1 span
{
    color: #00008B;
}

/*--------------- This Code is for About---------------------*/

#About
{
    padding: 90px 0px;
    color: #FFFFFF;
}
.Row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.About-Col-1
{
    flex-basis: 35%;
}
.About-Col-1 img
{
    width: 70%;
    border-radius: 15px;
}
.About-Col-2
{
    width: 60%
}
.Sub-Title
{
    font-size: 30px;
    font-weight: 600%;
    color: #FFFFFF;
}
.Tab-Titles
{
    display: flex;
    margin: 20px 0 40px;
}
.Tab-Links
{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}
.Tab-Links::after
{
    content: '';
    width: 0;
    height: 3px;
    background: #FF8C00;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.Tab-Links.Active-Links::after
{
    width: 50%;
}
.Tab-Contents ul li
{
    list-style: none;
    margin: 10px 0px;
}
.Tab-Contents ul li span
{
    color: #FF8C00;
    font-size: 14px;
}
.Tab-Contents
{
    display: none;
}
.Tab-Contents.Active-Tab
{
    display: block;
}

/*--------------------- This code is for My Services-------------*/

#Services
{
    padding: 80px 0px;
}
.Services-List
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 15px;
    margin-top: 50px;
}
.Services-List div
{
    background: #00008B;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.Services-List div i
{
    font-size: 50px;
    margin-bottom: 30px;
}
.Services-List div h2
{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
.Services-List div:hover
{
    background: #FF8C00;
    transform: translateY(-10px);
}

/*---------------- This Code is for Portfolio--------------*/

#Portfolio
{
    padding: 80px 0px;
}
.Work-List
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 15px;
    margin-top: 50px;
}
.Work
{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.Work img
{
    width: 100%;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}
.Layer
{
    width: 100;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#FF8C00);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.Layer h3
{
    font-weight: 500;
    margin-bottom: 20px;
}
.Layer a
{
    margin-top: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    line-height: 60px;
    background: #0000FF	;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.Work:hover img
{
    transform: scale(1.1);
}
.Work:hover .Layer
{
    height: 100%;
}

/*--------------------This code is for Contact---------------------*/

.Contact-Left
{
    margin-top: 20px;
    flex-basis: 35%;
}
.Contact-Right
{
    flex-basis: 60%;
}
.Contact-Left p
{
    margin-top: 30px;
}
.Contact-Left p i
{
    color: #00008B;
    margin-right: 10px;
    font-size: 15px;
}
.Social-Icons
{
    margin-top: 30px;
}
.Social-Icons a
{
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;
    color: #FFFFFF;
    display: inline-block;
    transition: transform 0.5s;
}
.Social-Icons a:hover
{
    color: #FF8C00;
    transform: translateY(-5px);
}
.btn
{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #0000FF;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #FFFFFF;
    transition: background 0.5s;
}
.btn:hover
{
    background: #FF8C00;

}
.btn.btn2
{
    display: inline-block;
    background: #FF8C00;
    cursor: pointer;
    margin-top: 10px;
}
.Contact-Right form
{
    width: 50%;
    position: absolute;
    right: 50px;
    margin-top: 80px;
}
form input, form textarea
{
    width: 100%;
    border: 0;
    outline: none;
    background: #000080;
    padding: 10px;
    margin: 5px 0;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 6px;
}
.form input, form textarea::placeholder
{
    color: #696969;
}
.form, input::placeholder
{
    color: #696969;
}
.Copyright
{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #8FBC8F	;
    font-weight: 300;
    margin-top: 40px;
    color: #000000;
}
.Copyright i
{
    color: #4B0082;
}
.Sub-Title
{
    margin-top: 80px;
}

/*--------------------- This code is for small screens-------------------*/

nav .fa-sharp
{
    display: none;
}
nav .fa-solid
{
    display: none;
}

@media only screen and (max-width: 600px)
{
    #Header
    {
        background-image: url(Phone%20size.png);
    }
    .Header-Text
    {
        margin-top: 100%;
        font-size: 16px;
    }
    .Header-Text h1
    {
        font-size: 30px;
        
    }
    nav .fa-sharp
    {
    display: block;
    font-size: 25px; 
    }
    nav .fa-solid
    {
    display: block;
    font-size: 25px;
    }
    nav ul
    {
        background: #00008B;
        position: fixed;
        top: 0;
        right: -130px;
        width: 130px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li
    {
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid
    {
        position: absolute;
        top:20px;
        left: 20px;
        cursor: pointer;
    }
    .Sub-Title
    {
        font-size: 30px;
        
    }
    .About-Col-1, .About-Col-2
    {
        flex-basis: 100%
    }
    .About-Col-1
    {
        margin-bottom: 30px;
    }
    .About-Col-2
    {
        font-size: 14px;
    }
    .Tab-Links
    {
        font-size: 16px;
        margin-right: 20px;
    }
    .Contact-Right
    {
        position:fixed;
    }
}
#msg
{
    color: #00FFFF;
}










